.stats-preview-card-component {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-desaturated-blue);
  width: clamp(300px, 88%, 70rem);
  border-radius: 0.5333333333333333rem;
  margin: 1.333333333333333rem auto;
  overflow: hidden;
}

.stats-preview-card-component > div {
  flex-shrink: 1;
  flex-basis: 0px;
}

.stats-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 4.5rem 6.5rem 4rem 4rem;
}

.stats-section h2 {
  font-size: 2.433333333333333rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.stats-section h2 > span {
  color: var(--soft-violet);
}

.stats-section p {
  line-height: 1.5;
}

.stats {
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: var(--slightly-more-transparent-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  padding-right: 2.333333333333333rem;
}

.stats span {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: block;
  font-size: 1.7rem;
  color: var(--white);
  margin-bottom: 0.4rem;
}

.img-section {
  flex-grow: 1.33;
  position: relative;
  pointer-events: none;
}

.img-section::before {
  content: '';
  background-color: var(--soft-violet);
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-section img:not(:first-of-type) {
  display: none;
}

@media (max-width: 940px) {
  .img-section img:first-of-type {
    display: none;
  }

  .img-section img:not(:first-of-type) {
    display: block;
  }

  .stats-section {
    padding-right: 4.5rem;
  }
}

@media (max-width: 700px) {
  .stats-section h2 {
    font-size: 1.866666666666667rem;
  }

  .stats-preview-card-component {
    text-align: center;
    flex-direction: column-reverse;
    max-width: 375px;
  }

  .stats-section {
    padding: 2.4rem 2rem 2rem 2.5rem;
  }

  .stats {
    padding: 0;
    flex-direction: column;
    gap: 2.5rem;
  }
}